<div class="container">
  <h1>ANAGRAM TIME!</h1>
  <% if @results %>
    <p>Your anagrams: "<span id="anagrams"><%= @results %></span>"</p>
  <% end %>

  <form action="/anagrams" method="post">
    Give me an anagram:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Say it!">
  </form>  

</div>
